* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#main {
  height: 50%;
  width: 50%;
  margin: 20px;
  padding-top: 30px;
  padding-left: 20px;
  background-image: url(https://images.unsplash.com/photo-1726859134607-bc9f46492fc2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 3px solid red;
}
#main h1 {
  color: red;
  text-align: center;
}
#box1 {
  height: 60px;
  width: 90px;
  background-color: blue;
  position: absolute;
  left: 280px;
  top: 150px;
}
#box2 {
  height: 80px;
  width: 110px;
  background-color: green;
  position: absolute;
  left: 200px;
  top: 100px;
  z-index: 10;
}
#box3 {
  height: 100px;
  width: 150px;
  background-color: red;
  position: absolute;
  position: absolute;
  left: 100px;
  top: 50px;
}

#grandparentbox {
  height: 70%;
  width: 40%;
  background-color: blue;
  position: relative;
}
#parentbox {
  height: 70%;
  width: 40%;
  background-color: red;
  position: absolute;
  left: 10%;
  top: 10%;
}
#childbox {
  height: 30%;
  width: 40%;
  background-color: yellow;
  position: absolute;
  left: 20%;
  top: 50%;
}

#mainbox {
  height: 70%;
  width: 40%;
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#bx1 {
  height: 100px;
  width: 100px;
  background-color: red;
}
#bx2 {
  height: 120px;
  width: 120px;
  background-color: yellow;
}
#bx3 {
  height: 100px;
  width: 100px;
  background-color: blue;
}
